.companyAd {
  height: 75px;
  background: url(img/advertisement.jpg) center top no-repeat;
}

.contact {
  height: 108px;
  background: url(img/contact_bg.jpg) center;
}

.navbar_container {
  height: 70px;
  line-height: 70px;
  background: url(img/nav_bg.jpg);
}
.navbar {
  width: 1000px;
  margin: 0 auto;
}

.navbar li {
  text-align: center;
  display: inline-block;
  width: 12%;
}

.navbar li a {
  font-size: 20px;
  transition: 0.2s;
  color: #666;
  text-decoration: none;
  outline: 0;
}

.navbar li.active a, .navbar li a:hover {
  color: #970202;
  transition: 0.2s;
  font-weight: 800;
}

