.slide_box {
  width: 980px;
  height: 141px;
  margin: 20px auto;
  overflow: hidden;
  ul {
    width: 1650px;
    margin-left: 0;
    li {
      float: left;
      width: 165px;
      height: 141px;
      list-style: none;
      img {
        width: 151px;
        height: 141px;
      }
    }
  }
  .animate {
    transition: margin .5s;
    margin-left: -165px;
  }
}